<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.app.charlotte.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <permission
        android:name="com.app.charlotte.myapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.charlotte.myapplication.permission.C2D_MESSAGE" />

    <application
        android:name="com.app.charlotte.myapplication.Application"
  android:hardwareAccelerated="true"

    android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon, theme, label" >
        <service
            android:name="com.google.android.gms.measurement.AppMeasurementService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name="com.app.charlotte.myapplication.detectedactivities.ActivitiesIntentService"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.example.charlotte.myapplication" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.app.charlotte.myapplication.gcmpush.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="com.app.charlotte.myapplication.gcmpush.MyInstanceIDListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="com.app.charlotte.myapplication.gcmpush.RegistrationIntentService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </service>

        <activity
            android:name="com.app.charlotte.myapplication.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"

            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".chat.SingleConversationActivity"
            android:label="@string/title_activity_single_conversation"
            android:parentActivityName="com.app.charlotte.myapplication.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            />

        <receiver
            android:name="com.app.charlotte.myapplication.MyBroadcastReceiver"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.spotify.music.playbackstatechanged" />
                <action android:name="com.spotify.music.metadatachanged" />
                <action android:name="com.spotify.music.queuechanged" />
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.android.music.playbackcomplete" />
                <action android:name="com.android.music.playstatechanged" />
                <action android:name="com.htc.music.metachanged" />
                <action android:name="com.htc.music.queuechanged" />
                <action android:name="com.htc.music.playbackcomplete" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".chat.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".chat.SingleConversationActivity"
            android:screenOrientation="portrait"
            android:launchMode="singleTop"

            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".chat.SingleConversationActivity" />
        </activity>
    </application>

</manifest>
